target/
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/maven_wrapper.xml
.idea/libraries/maven_wrapper1.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1c/e053a0c0fff400171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/26/60917ce405f500171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/27/6011925306f500171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/2e/60729fc8fff400171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/3c/20ad525cf0f400171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/50/705023df03f500171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/55/d09b72acf0f400171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/5d/5011269ff0f400171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/68/d06a22e402f500171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/7/608a2a1f06f500171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/86/d094471ff1f400171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/94/404f455b05f500171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/9c/5017b76204f500171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/a1/40a4db5105f500171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/a1/60ce83defef400171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/af/a0e4b90af1f400171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/b8/d055679904f500171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/bc/90a68a0ff1f400171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/c2/0059db75eff400171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/c5/50fcccc6fff400171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/e8/50530f2f03f500171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/f/d061369802f500171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.history/f8/00184466ebf400171906c1760c5d6e62
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-client/.indexes/e4/92/22/81/96/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-client/.indexes/e4/b9/22/81/96/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-client/.indexes/e4/b9/db/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-client/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-client/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-client/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-client/.syncinfo
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-client/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-client/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-server/.indexes/e4/b9/db/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-server/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-server/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-server/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-server/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-server/.syncinfo
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-server/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/my-config-server/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/my-sample-config/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/my-sample-config/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/my-sample-config/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/my-sample-config/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/my-sample-config/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/1.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.collabnet.subversion.merge.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.sf.feeling.decompiler.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.tigris.subversion.subclipse.tools.usage.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.tigris.subversion.subclipse.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/MyConfigClientApplication.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/MyConfigServerApplication.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/my-config-client (1).launch
.metadata/.plugins/org.eclipse.debug.core/.launches/my-config-client.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/my-config-server.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
.metadata/.plugins/org.eclipse.jdt.core/1066211646.index
.metadata/.plugins/org.eclipse.jdt.core/1090495868.index
.metadata/.plugins/org.eclipse.jdt.core/1230325328.index
.metadata/.plugins/org.eclipse.jdt.core/1240013350.index
.metadata/.plugins/org.eclipse.jdt.core/1250088174.index
.metadata/.plugins/org.eclipse.jdt.core/1324400417.index
.metadata/.plugins/org.eclipse.jdt.core/1421201255.index
.metadata/.plugins/org.eclipse.jdt.core/1458143508.index
.metadata/.plugins/org.eclipse.jdt.core/1459370659.index
.metadata/.plugins/org.eclipse.jdt.core/1484086055.index
.metadata/.plugins/org.eclipse.jdt.core/149399640.index
.metadata/.plugins/org.eclipse.jdt.core/1515365799.index
.metadata/.plugins/org.eclipse.jdt.core/1516097047.index
.metadata/.plugins/org.eclipse.jdt.core/152308096.index
.metadata/.plugins/org.eclipse.jdt.core/157441406.index
.metadata/.plugins/org.eclipse.jdt.core/1606701009.index
.metadata/.plugins/org.eclipse.jdt.core/1620698087.index
.metadata/.plugins/org.eclipse.jdt.core/1653807271.index
.metadata/.plugins/org.eclipse.jdt.core/1689435390.index
.metadata/.plugins/org.eclipse.jdt.core/1715489473.index
.metadata/.plugins/org.eclipse.jdt.core/1773783700.index
.metadata/.plugins/org.eclipse.jdt.core/183020545.index
.metadata/.plugins/org.eclipse.jdt.core/1855687533.index
.metadata/.plugins/org.eclipse.jdt.core/185806873.index
.metadata/.plugins/org.eclipse.jdt.core/1862262208.index
.metadata/.plugins/org.eclipse.jdt.core/1947640504.index
.metadata/.plugins/org.eclipse.jdt.core/1956078153.index
.metadata/.plugins/org.eclipse.jdt.core/1960071503.index
.metadata/.plugins/org.eclipse.jdt.core/2046096850.index
.metadata/.plugins/org.eclipse.jdt.core/209673879.index
.metadata/.plugins/org.eclipse.jdt.core/2102110042.index
.metadata/.plugins/org.eclipse.jdt.core/2170315489.index
.metadata/.plugins/org.eclipse.jdt.core/2242623598.index
.metadata/.plugins/org.eclipse.jdt.core/2269636011.index
.metadata/.plugins/org.eclipse.jdt.core/2300524060.index
.metadata/.plugins/org.eclipse.jdt.core/2342602058.index
.metadata/.plugins/org.eclipse.jdt.core/2346795012.index
.metadata/.plugins/org.eclipse.jdt.core/2376811289.index
.metadata/.plugins/org.eclipse.jdt.core/2400090720.index
.metadata/.plugins/org.eclipse.jdt.core/2408554124.index
.metadata/.plugins/org.eclipse.jdt.core/2454413335.index
.metadata/.plugins/org.eclipse.jdt.core/250175876.index
.metadata/.plugins/org.eclipse.jdt.core/2531602859.index
.metadata/.plugins/org.eclipse.jdt.core/2542053214.index
.metadata/.plugins/org.eclipse.jdt.core/2595064442.index
.metadata/.plugins/org.eclipse.jdt.core/2603511820.index
.metadata/.plugins/org.eclipse.jdt.core/2668656961.index
.metadata/.plugins/org.eclipse.jdt.core/2669883641.index
.metadata/.plugins/org.eclipse.jdt.core/272663903.index
.metadata/.plugins/org.eclipse.jdt.core/2728356359.index
.metadata/.plugins/org.eclipse.jdt.core/2730783021.index
.metadata/.plugins/org.eclipse.jdt.core/2771380707.index
.metadata/.plugins/org.eclipse.jdt.core/2981358347.index
.metadata/.plugins/org.eclipse.jdt.core/3022119969.index
.metadata/.plugins/org.eclipse.jdt.core/3044232395.index
.metadata/.plugins/org.eclipse.jdt.core/3085640265.index
.metadata/.plugins/org.eclipse.jdt.core/3092192945.index
.metadata/.plugins/org.eclipse.jdt.core/3128205304.index
.metadata/.plugins/org.eclipse.jdt.core/3156263184.index
.metadata/.plugins/org.eclipse.jdt.core/3179332383.index
.metadata/.plugins/org.eclipse.jdt.core/318774174.index
.metadata/.plugins/org.eclipse.jdt.core/3376082873.index
.metadata/.plugins/org.eclipse.jdt.core/3390409878.index
.metadata/.plugins/org.eclipse.jdt.core/3391529300.index
.metadata/.plugins/org.eclipse.jdt.core/3395165004.index
.metadata/.plugins/org.eclipse.jdt.core/3407436287.index
.metadata/.plugins/org.eclipse.jdt.core/3504436126.index
.metadata/.plugins/org.eclipse.jdt.core/3516008010.index
.metadata/.plugins/org.eclipse.jdt.core/3587351581.index
.metadata/.plugins/org.eclipse.jdt.core/375173587.index
.metadata/.plugins/org.eclipse.jdt.core/3756535069.index
.metadata/.plugins/org.eclipse.jdt.core/3771439983.index
.metadata/.plugins/org.eclipse.jdt.core/3842317635.index
.metadata/.plugins/org.eclipse.jdt.core/3878370105.index
.metadata/.plugins/org.eclipse.jdt.core/3911304733.index
.metadata/.plugins/org.eclipse.jdt.core/3925704940.index
.metadata/.plugins/org.eclipse.jdt.core/39503757.index
.metadata/.plugins/org.eclipse.jdt.core/3951884483.index
.metadata/.plugins/org.eclipse.jdt.core/413159515.index
.metadata/.plugins/org.eclipse.jdt.core/4134955096.index
.metadata/.plugins/org.eclipse.jdt.core/4138981068.index
.metadata/.plugins/org.eclipse.jdt.core/417343991.index
.metadata/.plugins/org.eclipse.jdt.core/4228123831.index
.metadata/.plugins/org.eclipse.jdt.core/53670920.index
.metadata/.plugins/org.eclipse.jdt.core/602571716.index
.metadata/.plugins/org.eclipse.jdt.core/610570858.index
.metadata/.plugins/org.eclipse.jdt.core/61907892.index
.metadata/.plugins/org.eclipse.jdt.core/687619167.index
.metadata/.plugins/org.eclipse.jdt.core/703602727.index
.metadata/.plugins/org.eclipse.jdt.core/740370241.index
.metadata/.plugins/org.eclipse.jdt.core/759731520.index
.metadata/.plugins/org.eclipse.jdt.core/828996147.index
.metadata/.plugins/org.eclipse.jdt.core/881353483.index
.metadata/.plugins/org.eclipse.jdt.core/90846882.index
.metadata/.plugins/org.eclipse.jdt.core/909462576.index
.metadata/.plugins/org.eclipse.jdt.core/934765644.index
.metadata/.plugins/org.eclipse.jdt.core/954027328.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/my-config-client/2018/1/2/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/my-config-client/2018/1/2/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/nexus/319526b490d039b99c2d94cedb846bdf/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/319526b490d039b99c2d94cedb846bdf/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/319526b490d039b99c2d94cedb846bdf/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/319526b490d039b99c2d94cedb846bdf/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/533c9c1aa88dbe19aa42fe697d96c775/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/533c9c1aa88dbe19aa42fe697d96c775/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/533c9c1aa88dbe19aa42fe697d96c775/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/533c9c1aa88dbe19aa42fe697d96c775/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_7
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/a06e339f4abd9c91c0b8edf737617577/_14.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a06e339f4abd9c91c0b8edf737617577/_14_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/a06e339f4abd9c91c0b8edf737617577/_15.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a06e339f4abd9c91c0b8edf737617577/_15_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/a06e339f4abd9c91c0b8edf737617577/_16.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a06e339f4abd9c91c0b8edf737617577/_17.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a06e339f4abd9c91c0b8edf737617577/_18.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a06e339f4abd9c91c0b8edf737617577/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/a06e339f4abd9c91c0b8edf737617577/segments_16
.metadata/.plugins/org.eclipse.m2e.core/nexus/a06e339f4abd9c91c0b8edf737617577/write.lock
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.jdt/my-config-client.container
.metadata/.plugins/org.eclipse.m2e.jdt/my-config-client.sources
.metadata/.plugins/org.eclipse.m2e.jdt/my-config-server.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.0.20150526-2032.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pcos-1706071451_30720/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pcos-1706071451_30720/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pcos-1706071451_30720/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.tm.terminal.connector.local/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/.plugins/org.tigris.subversion.subclipse.ui/dialog_settings.xml
.metadata/version.ini
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/write.lock
RemoteSystemsTempFiles/.project
my-config-client/.idea/.name
my-config-client/.idea/encodings.xml
my-config-client/.idea/misc.xml
my-config-client/.idea/workspace.xml
my-config-server/src/main/main.iml
my-config-server/src/test/test.iml
my-sample-config/.idea/encodings.xml
my-sample-config/.idea/misc.xml
my-sample-config/.idea/modules.xml
my-sample-config/.idea/vcs.xml
my-sample-config/.idea/workspace.xml
my-sample-config/my-sample-config.iml
